<%= form_with(model: article, url:, class: "contents") do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul class="list-disc ml-6">
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% @categories = Category.all%>
  <div class="my-5">
    <%= form.label :category_id, "Category" %>
    <%= form.collection_select(:category_id, @categories, :id, :name, { prompt: "Select a category" }, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": article.errors[:title].none?, "border-red-400 focus:outline-red-600": article.errors[:title].any?}]) %>
  </div>

  <% if article.new_record? && article.parent_id.present? %>
    <div class="my-5">
      <span>Parent: <%= article.parent.title %></span>
    </div>
    <div class="my-5 hidden">
      <%= form.label :parent_id %>
      <%= form.number_field :parent_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full border-gray-400 focus:outline-blue-600"] %>
    </div>
  <% end %>

  <% unless article.new_record? %>
    <div class="my-5">
      <%= form.label :category_position %>
      <%= form.number_field :category_position, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": article.errors[:category_position].none?, "border-red-400 focus:outline-red-600": article.errors[:category_position].any?}] %>
    </div>

    <div class="my-5">
      <%= form.label :thread_position %>
      <%= form.number_field :thread_position, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": article.errors[:thread_position].none?, "border-red-400 focus:outline-red-600": article.errors[:thread_position].any?}] %>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": article.errors[:title].none?, "border-red-400 focus:outline-red-600": article.errors[:title].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :content %>
    <%= form.rich_textarea :content %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
